* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar-container {
  /* border: 3px solid red; */
  margin: 40px 0px;
}

h2 {
  margin-bottom: 20px;
}

.nav-1 {
  background-color: #e5e5e5;
  padding: 10px;
}

.nav-1 ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-1 li {
  display: inline;
}

.nav-1 a {
  text-decoration: none;
  color: #1a1a1a;
  /* background-color: #fff; */
  padding: 5px 15px;
  position: relative;
}

.nav-1 .login-button {
  background-color: #2a8c44;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-1 a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #2a8c44;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-1 a:hover::after {
  transform: scaleX(1);
}

.nav-2 {
  background-color: #03643c;
  width: 200px;
  padding: 4px;
}

.nav-2 ul {
  list-style: none;
}

.nav-2 li{
    margin-bottom: 12px;
    /* background-color: #fff; */
}

.nav-2 a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    /* background-color: #1a1a1a; */
    display: block;
}

.nav-2 a:hover{
    background-color: #2a8c44;
}

.nav-2 .login-button{
    background-color: #2a8c44;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.nav-2 .login-button:hover{
    border: 1px solid #fff;
    background-color: #03643c;
}

.nav-3{
  /* border: 3px solid red; */
  background-color: #e5e5e5;
  padding: 10px;
}

.nav-3 ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-3 a{
  text-decoration: none;
  /* background-color: #fff; */
  padding: 5px 15px;
  color: #1a1a1a;
  display: block;
}

.nav-3 .login-button{
  background-color: #2a8c44;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-3 .dropdown{
  position: relative;
}

.nav-3 .dropdown-content{
  display: none;
}

.nav-3 .dropdown:hover .dropdown-content{
  display: block;
  background-color: #c3c3c3;
  position: absolute;
  min-width: 100px;
}

